html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;

    --background-color: #f9f9f9;
    --text-color: #000;
    --border-color: #ccc;
    --button-bg: #4caf50;
    --button-hover-bg: #45a049;
    --input-bg: #fff;
    --suggestion-bg: #fff;
    --suggestion-hover-bg: #f1f1f1;
    --info: #272727;
    --warning: #ff9800;
    --error: #f44336;
    --command: #3f51b5;
    --debug: #607d8b;
    --ok: #3a833c;
}

@media (prefers-color-scheme: dark) {

    html,
    body {
        --background-color: #1e1e1e;
        --text-color: #ffffff;
        --border-color: #555;
        --button-bg: #388e3c;
        --button-hover-bg: #2e7d32;
        --input-bg: #2c2c2c;
        --suggestion-bg: #2c2c2c;
        --suggestion-hover-bg: #3c3c3c;
        --info: #ddd;
        --warning: #fca421;
        --error: #f44336;
        --command: #5e72e2;
        --debug: #607d8b;
        --ok: #4caf50;
    }
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

* {
    font-size: 1em;
}

.output,
.messages {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.output {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--background-color);
}

.messages {
    max-height: 100%;
}

.command-prompt {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
}

.input-container input[type="text"] {
    flex: 1;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
    color: var(--text-color);
    padding: 0.8em;
    margin: 0.5em;
    font-size: 1em;
    border-radius: 1em;
}

button,
.input-container button {
    cursor: pointer;
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em;
    border-radius: 1em;
}

.input-container button {
    background-color: var(--button-bg);
    border: none;
    color: white;
    margin-left: 2em;
}

.input-container button:hover {
    background-color: var(--button-hover-bg);
}

.window button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.5em;
    margin: 0.5em 0.1em;
    border-radius: 0.5em;
}

.window button:hover {
    background-color: var(--suggestion-hover-bg);
}

.suggestions {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    border: 1px solid var(--border-color);
    list-style: none;
    max-width: fit-content;
    overflow-y: auto;
    background-color: var(--suggestion-bg);
    z-index: 1000;
    border-radius: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 450px) {
    .suggestions {
        bottom: 50px;
        left: 1em;
    }
}

@media screen and (max-height: 450px) {
    .suggestions {
        left: 50%;
        transform: translateX(-50%);
    }
}

.suggestions li {
    padding: 1em;
    cursor: pointer;
    color: var(--text-color);
}

.suggestions li.selected,
.suggestions li:hover {
    background-color: var(--suggestion-hover-bg);
}

.controller,
.piano {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 0;
    background-color: var(--background-color);
}

.piano>.controller {
    flex: 0 0 100%;
    max-width: 100%;
}

@media screen and (min-width: 450px) {
    .piano>.controller {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.controller1 {
    order: 3;
}

.controller2 {
    order: 4;
}

.controller3 {
    order: 1;
}

.controller4 {
    order: 2;
}

/* Message Types */
.info {
    color: var(--info);
}

.warning {
    color: var(--warning);
}

.error {
    color: var(--error);
}

.command {
    color: var(--command);
}

.debug {
    color: var(--debug);
}

.status {
    color: var(--ok);
}